<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="jumbotron">
        <h3>Sistema de Control de Egresados</h3>
        <p class="lead">
           Instituto Tecnológico Superior de Poza Rica
        </p>
      </div>
    </div>    
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Agregar nuevo alumno</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <h5>Puede registrar un nuevo alumno por primera vez presionando en esta seccion del sistema</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-lg-offset-7">
              <a ng-href="#/nuevoalumno" class="btn btn-success">Registrar nuevo alumno</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Generar reportes de egresados</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <h5>Puede generar reportes en base a los datos de los alumnos egresados en esta seccion</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-lg-offset-8">
              <a ng-href="#/reportes" class="btn btn-info">Generar reportes</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title">Agregar nuevo alumno</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <h5>Puede buscar los datos de un alumno en especifico en esta área</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-lg-offset-8">
              <a ng-href="#/busquedas" class="btn btn-warning">Buscar alumnos</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>